.todobackground {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 377px;
  padding: 24px 16px;
  border: 1px solid rgba(128, 128, 128, 0.206);
}

.todobackground h1 {
  color: #000;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  letter-spacing: -0.5px;
}
.inputSection {
  display: flex;
  gap: 10px;
}

.inputSection input {
  display: flex;
  width: 280px;
  height: 40px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--border-border-border, #e4e4e7);
}
.inputSection button {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #3c82f6;
  border: none;

  color: #f9f9f9;
  font-family: "Inter", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filterSection {
  display: flex;
  gap: 6px;
  /* background-color: white;
  justify-content: space-between; */
}

.filterSection button {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #f3f4f6;
  border: none;

  color: #363636;
  font-family: "Inter", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.activeButton {
  font-size: 20px;
  background-color: #3c82f6 !important;
  color: white !important;
}

/* .filterSection button:nth-child(1) {
  background-color: #3c82f6;
} */

.todoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.todoContainer {
  display: flex;
  gap: 10px;
  background: #f9fafb;
  width: 345px;
  height: 62px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

/* .todoContainer div {
  display: flex;
  gap: 6px;
  align-items: center;
} */
